## Panda dataframe cheat sheet

In [11]:
import pandas as pd

## Reading csv

In [20]:
data = pd.read_csv("./raw.csv",skipinitialspace=True,comment="#")
data

    ep_x   ep_y       area      toten
0 -0.006 -0.006  10.688715 -54.867034
1 -0.006 -0.004  10.710229 -54.867363
2 -0.006 -0.002  10.731743 -54.867635
3 -0.006 -0.000  10.753256 -54.867832
4 -0.006  0.002  10.774770 -54.867975
5 -0.006  0.004  10.796240 -54.868060
6 -0.006  0.006  10.817754 -54.868078
7 -0.004 -0.006  10.710203 -54.867364

## Finding min-max index

In [22]:
toten = data["toten"]
ep_x = data["ep_x"]
ep_y = data["ep_y"]

# To find the minimum/maximum element first index
print(toten.idxmin(), toten.idxmax())
print(ep_x.idxmin(), ep_x.idxmax())
print(ep_y.idxmin(), ep_y.idxmax())

6 0
0 7
0 6

## Sort based on a column

for more information visit https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_values.html

In [33]:
# Sort by single column
data.sort_values(by=["ep_y"],ascending=False,inplace=False)  # Highest to lowest
# Sort by multiple coumn, 
data.sort_values(by=["ep_x","toten"],ascending=True,inplace=False)   # Lowest to highest
# if inplace=True modifies the original array

    ep_x   ep_y       area      toten
6 -0.006  0.006  10.817754 -54.868078
5 -0.006  0.004  10.796240 -54.868060
4 -0.006  0.002  10.774770 -54.867975
3 -0.006 -0.000  10.753256 -54.867832
2 -0.006 -0.002  10.731743 -54.867635
1 -0.006 -0.004  10.710229 -54.867363
0 -0.006 -0.006  10.688715 -54.867034
7 -0.004 -0.006  10.710203 -54.867364